{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <header>
        <h1>Notes</h1>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url "logout" %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url "login" %}">Log In</a></li>
            {% endif %}
        </ul>
    </header>

    <main>
        <div class="list">
            {% block list %}{% endblock list %}
        </div>

        <div class="note">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block note %}{% endblock note %}
        </div>
    </main>
</body>
</html>