{% extends "base.html" %}
{% load tags %}

{% block title %}{{ note.title }}{% endblock title %}

{% block list %}
    {% include "note/list.html" with notes=request.user.notes.all %}
{% endblock list %}

{% block note %}
    <h2 style="color: #fff;">
        {{ note.title }}
    </h2>
    <p style="color: #fff">
        {{ note.body|markdown }}
    </p>

    {% if note in request.user.notes.all %}
        <p>
            <a href="{% url "notes:edit" slug=note.slug %}">Edit</a>
        </p>

        <p>
            <a href="{% url "notes:delete" slug=note.slug %}">Delete</a>
        </p>
    {% endif %}
{% endblock note %}